*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  padding: 3rem;
}

h3{
  font-family: monospace;
}

.container{
  padding: 1rem;
}

.user{
  display: flex;
  justify-content: center;
}

.followers{
  max-height: 43.5vh;
  overflow: auto;
  position: relative;
}
.followers h3{
  position: fixed;
  top: 140px;
  z-index: 1;
}
.followers::-webkit-scrollbar{
  display: none;
}

.list{
  cursor: pointer;
}
.list:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .user{
    flex-direction: column;
  }
  .followers h3{
    position: fixed;
    top: 565px;
    z-index: 1;
}
}